.nax{
    max-width: 960px;
    padding-bottom: 250px;
    margin: 0 auto;
    background: url(https://images.unsplash.com/photo-1512542089687-4431ecf9c140?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=375&q=80);
}
.icon{
    color: black;
    font-size: 2rem sans-serif;
}
.gold{
    color: gold;
    border-radius: 10px solid;
}